.faqs-list-items {
  list-style: none;
  padding: 10px;
  border: 1px solid #d7dae6;
  margin: 20px;
  background-color: white;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .faqs-list-items {
    margin: 30px 0px;
    border-radius: 6px;
  }
}

.question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.question-text {
  font-size: 17px;
  color: rgb(136, 131, 125);
}

@media screen and (min-width: 768px) {
  .question-text {
    font-size: 19px;
  }
}

.button {
  border: none;
  background-color: transparent;
}
.answer-text {
  font-size: 16px;
  color: rgb(148, 143, 143);
  line-height: 25px;
}
